.header{
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0 20%;
}
.headerSearch{
  display: inline-block;
  justify-content: space-between;
}

.headerSearch input {
  border-color: #7b99e5;
  margin-right: 16px;
  font-size: 20px;
  width:600px;
}

.headerMenu a{
  display: inline-block;
  margin: 0 10px;
  color:  #7b99e5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.headerMenu a:hover{
  color:  #4762A9;
}
