.row{
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: -20px;
}
.header{
  justify-content: space-between;
}
.headerSearch{
  justify-content: space-between;
}

.headerSearch input {
  border-color: #7b99e5;
  font-size: 20px;
  width:600px;
}

.searchIcon{
  cursor: pointer;
}

.headerMenu a{
  display: inline-block;
  margin: 0 10px;
  color:  #7b99e5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.headerMenu a:hover{
  color:  #4762A9;
}
